	<figure>파일수신</figure>
	<section class="user_list">
	<h2>파일수신</h2>
	<div class="auto_wrap">

	<figure>lnb_tree</figure>
	<section class="lnb_tree" >
		<div class="check">
			<select name="" id="">
				<option value="기기명">기기명</option>
				<option value="IP주소">IP주소</option>
			</select>
			<input type="text" id="" name="">
			<input type="image" src="../common/images/btn/btn_check_03.gif" id="" name="">
		</div>
		<div class="scroll" style="overflow-x: hidden; height: 345px;">
		<div class="manage">
			<h3>관리그룹</h3>
			<div>
				<img src="../common/images/img/@tree_01.gif" alt="">
			</div>
		</div>

		<div  class="machine">
			<h3>자동화기기</h3>
			<div>
				<img src="../common/images/img/@tree_02.gif" alt="">
			</div>
		</div>
		</div>
	</section>

	<div class="board">
		<div class="file_table">
		<table>
			<colgroup>
				<col style="width:250px"/>
				<col style="width:*"/>
			</colgroup>
			<tbody>
				<tr>
					<th><label for="forname">가져올 파일</label></th>
					<td class="detail" style="border: 0px;">
						<input type="file" id="forname" name=""/>
						<!--<span>* 가져올 파일의 Full Path 입력 (예)c:\Folder\file.txt</span>-->
					</td>
				</tr>
				<tr>
					<th><label for="forname">저장할 폴더</label></th>
					<td class="detail" style="border: 0px;">
						<input type="text" id="forname2" name="" style="width: 520px" />
						<a href="#" class="btn type2 set25"><span>저장할 폴더 지정</span></a>
					</td>
				</tr>
				<tr>
					<th><label for="sau">파일 수신 사유</label></th>
					<td class="detail" style="border: 0px">
						<input type="text" style="width:630px" id="sau" name="" /> <a href="#" class="btn type2 set25  btn_action"><span>실 행</span></a>
					</td>
				</tr>
			</tbody>
		</table>
		</div>

		<h4 class="mt20">처리결과</h4>
		<div class="tit" style="padding-right: 0px;">
			<table class="mt10" style="border-top: 2px solid #ED1C24;">
			<colgroup>
					<col style="width:100px;"/>
						<col style="width:150px;"/>
						<col style="width:150px;"/>
						<col style="width:150px;"/>
						<col style="width:150px;"/>
						<col style="width:*"/>
			</colgroup>
			<tbody>
				<tr>
					<th>구분</th>
					<th>관리그룹</th>
					<th>자동화<br/>기기명</th>
					<th>IP주소</th>
					<th>처리일시</th>
					<th>처리결과</th>
				</tr>
			</tbody>
		</table>
		</div>
		<div class="table_body mt0 scroll" style="height: 190px;">
			<table style="text-align: center">
				<colgroup>
					<col style="width:100px;"/>
						<col style="width:150px;"/>
						<col style="width:150px;"/>
						<col style="width:150px;"/>
						<col style="width:150px;"/>
						<col style="width:*"/>
				</colgroup>
				<tbody>
	<!--
					<tr>
						<td style="text-align:center" colspan="6">결과가 없습니다.</td>
					</tr>
	-->
					<tr>
						<td><a href="#" class="btn type2 set25"><span>삭제</span></a></td>
						<td>3층기계실</td>
						<td>2BUA01</td>
						<td>123.234.0.1</td>
						<td>2012-10-16 10:12:12</td>
						<td></td>
					</tr>
					<tr>
						<td><a href="#" class="btn type2 set25"><span>삭제</span></a></td>
						<td>3층기계실</td>
						<td>2BUA01</td>
						<td>123.234.0.1</td>
						<td>2012-10-16 10:12:12</td>
						<td></td>
					</tr>
					<tr>
						<td><a href="#" class="btn type2 set25"><span>삭제</span></a></td>
						<td>3층기계실</td>
						<td>2BUA01</td>
						<td>123.234.0.1</td>
						<td>2012-10-16 10:12:12</td>
						<td></td>
					</tr>
					<tr>
						<td><a href="#" class="btn type2 set25"><span>삭제</span></a></td>
						<td>3층기계실</td>
						<td>2BUA01</td>
						<td>123.234.0.1</td>
						<td>2012-10-16 10:12:12</td>
						<td></td>
					</tr>
					<tr>
						<td><a href="#" class="btn type2 set25"><span>삭제</span></a></td>
						<td>3층기계실</td>
						<td>2BUA01</td>
						<td>123.234.0.1</td>
						<td>2012-10-16 10:12:12</td>
						<td></td>
					</tr>
					<tr>
						<td><a href="#" class="btn type2 set25"><span>삭제</span></a></td>
						<td>3층기계실</td>
						<td>2BUA01</td>
						<td>123.234.0.1</td>
						<td>2012-10-16 10:12:12</td>
						<td></td>
					</tr>
					<tr>
						<td><a href="#" class="btn type2 set25"><span>삭제</span></a></td>
						<td>3층기계실</td>
						<td>2BUA01</td>
						<td>123.234.0.1</td>
						<td>2012-10-16 10:12:12</td>
						<td></td>
					</tr>
					<tr>
						<td><a href="#" class="btn type2 set25"><span>삭제</span></a></td>
						<td>3층기계실</td>
						<td>2BUA01</td>
						<td>123.234.0.1</td>
						<td>2012-10-16 10:12:12</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>

	</section>

</article>
