<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
<meta charset="utf-8">
<title>KUMHO TIRES | 서비스관리</title>
<link rel="stylesheet" type="text/css" media="all" href="../common/css/basic.css" />
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"type="text/javascript"></script><![endif]-->
<!--[if IE 7]><link rel="stylesheet" href="../common/css/ie7.css" type="text/css"/><![endif]-->
<script type="text/javascript" charset="urf-8" src="../common/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" charset="urf-8" src="../common/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" charset="urf-8" src="../common/js/twolevel-1.0.js"></script>
<script type="text/javascript" charset="urf-8" src="../common/js/slides.min.jquery.js"></script>		
<script language="JavaScript"> 
	$(document).ready(function() {
		$("#mainmenu").twolevel(
				{resetTimer: 100}
		);
	});
</script>
</head>

<body>

<header>
	<div>
		<p><a href="../"><img src="../common/images/logo.gif" alt="금호타이어"></a></p>
		<ul>
			<li>admin님이 로그인 하셨습니다.</li>
			<li><img src="../common/images/btn/btn_logout.gif" alt="로그아웃"></li>
			<!-- <li><img src="../common/images/btn/btn_login.gif" alt="로그인"></li> -->
			<li><img src="../common/images/btn/btn_pass.gif" alt="비밀번호변경"></li>
		</ul>
	</div>
	<nav class="gnb">
		<ul id="mainmenu" class="twoLevelMenu">
			<li><a href="../user/pass.html" class="gnb1">사용자 관리</a>
				<ul>
					<li class="first" ><a href="../user/pass.html" class="gnb1_1">관리자 비밀번호</a></li>
					<li class="on"><a href="../user/list.html" class="gnb1_2">사용자관리</a></li>
				</ul>
			</li>
			<li><a href="../auto" class="gnb2">자동화기기 관리</a></li>
			<li><a href="../policy/admit.html" class="gnb3">정책관리</a>
				<ul>
					<li class="first on" style="margin-left:175px;"><a href="../policy/admit.html" class="gnb3_1">통합정책관리</a></li>
					<li><a href="../policy/dvice.html" class="gnb3_2">기기별 정책관리</a></li>
				</ul>
			</li>
			<li class="active"><a href="../remote" class="gnb4">원격관리</a>
				<ul>
					<li class="first" style="margin-left:0px;"><a href="../remote/setting.html" class="gnb4_1">환경설정</a></li>
					<li><a href="../remote/file.html" class="gnb4_2">파일/폴더관리</a></li>
					<li><a href="../remote/process.html" class="gnb4_3">프로세스관리</a></li>
					<li class="on"><a href="../remote/service.html" class="gnb4_4">서비스관리</a></li>
					<li><a href="../remote/registry.html" class="gnb4_5">레지스트리관리</a></li>
					<li><a href="../remote/srch.html" class="gnb4_6">검색관리</a></li>
					<li><a href="../remote/program.html" class="gnb4_7">프로그램 배포</a></li>
					<li><a href="../remote/pc_end.html" class="gnb4_8">PC 종료관리</a></li>
					<li><a href="../remote/event.html" class="gnb4_9">이벤트로그수집</a></li>
					<li><a href="../remote/pc_dump.html" class="gnb4_10">PC덤프관리</a></li>
					<li><a href="../remote/policy.html" class="gnb4_11">정책관리</a></li>
					<li><a href="../remote/remote.html" class="gnb4_12">원격제어</a></li>
					<li><a href="../remote/capture.html" class="gnb4_13">화면캡춰</a></li>
				</ul>
			</li>
			<li><a href="../stats" class="gnb5">통계정보</a>
				<ul>
					<li class="first on" style="margin-left:340px;"><a href="../stats" class="gnb5_1">로그검색</a></li>
					<li><a href="../stats/policy.html" class="gnb5_2">정책조회</a></li>
					<li><a href="../stats/report.html" class="gnb5_3">레포팅</a></li>
				</ul>
			</li>
			<li class="last"><a href="../monitor" class="gnb6">실시간 모니터링</a></li>
		</ul>
	</nav>
</header>

<article>
	<figure>direction</figure>
	<section class="direction">
	<ul>
		<li>원격관리</li>
		<li class="last"><span>서비스관리</span></li>
	</ul>
	</section>

	<figure>서비스관리</figure>
	<section class="process mt20">
	<h2><img src="../common/images/txt/h2_service.gif" alt="서비스관리"></h2>
	<table class="mt10">
		<colgroup>
			<col style="width:20%"/>
			<col style="width:80%"/>
		</colgroup>
		<tbody>
			<tr>
				<th>제어관리 기능</th>
				<td class="rela">
					<select name="" id="">
						<option value="서비스 상태검사" selected>서비스 상태검사</option>
						<option value="서비스 시작">서비스 시작</option>
						<option value="서비스 중지">서비스 중지</option>
					</select>
					<p class="remote_txt">원격지 자동화기기의 서비스 상태를 검사하는 기능입니다.</p>
				</td>
			</tr>
			<tr>
				<th>제어 세부내용</th>
				<td class="detail">
					<p>서비스명 <input type="text" id="" name=""> ※ 상태검사할 서비스명 [예) MyService]</p>
				</td>
			</tr>
		</tbody>
	</table>

	<table class="mt30">
		<colgroup>
			<col style="width:20%"/>
			<col style="width:80%"/>
		</colgroup>
		<tbody>
			<tr>
				<th>제어관리 기능</th>
				<td class="rela">
					<select name="" id="">
						<option value="서비스 상태검사">서비스 상태검사</option>
						<option value="서비스 시작" selected>서비스 시작</option>
						<option value="서비스 중지">서비스 중지</option>
					</select>
					<p class="remote_txt">원격지 자동화기기의 서비스 시작시키는 기능입니다.</p>
				</td>
			</tr>
			<tr>
				<th>제어 세부내용</th>
				<td class="detail">
					<p>서비스명 <input type="text" id="" name=""> ※ 시작시킬 서비스명 [예) MyService]</p>
				</td>
			</tr>
		</tbody>
	</table>

	<table class="mt30">
		<colgroup>
			<col style="width:20%"/>
			<col style="width:80%"/>
		</colgroup>
		<tbody>
			<tr>
				<th>제어관리 기능</th>
				<td class="rela">
					<select name="" id="">
						<option value="서비스 상태검사">서비스 상태검사</option>
						<option value="서비스 시작">서비스 시작</option>
						<option value="서비스 중지" selected>서비스 중지</option>
					</select>
					<p class="remote_txt">원격지 자동화기기의 서비스 중지시키는 기능입니다.</p>
				</td>
			</tr>
			<tr>
				<th>제어 세부내용</th>
				<td class="detail">
					<p>서비스명 <input type="text" id="" name=""> ※ 중지시킬 서비스명 [예) MyService]</p>
				</td>
			</tr>
		</tbody>
	</table>

	</section>

</article>

<!-- Load jQuery, SimpleModal and Basic JS files -->
<script type="text/javascript" src="../common/js/jquery.simplemodal.js"></script>
<script type="text/javascript" src="../common/js/basic.js"></script>

</body>
</html>
