<article>
	<%@ include file="../common/inc/direction.jsp" %>

	<figure>자동화기기 운영현황(통계)</figure>
	<section class="stats">
		<h2>자동화기기 운영현황(통계)</h2>
		<div class="search_box">
			<div class="ssbox float_l date">
				<h3><img src="../common/images/txt/txt_log_02.gif" alt="기간"></h3>
				<ul class="due">
					<li>
						<select name="" id="">
							<option value="2012">2012</option>
							<option value="2011">2011</option>
							<option value="2010">2010</option>
							<option value="2009">2009</option>
							<option value="2008">2008</option>
							<option value="2007">2007</option>
						</select>
						<span>년</span>
					</li>
					<li>
						<select name="" id="">
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
						</select>
						<span>월</span>
					</li>
					<li><a href="#" class="btn set25"><span>월별 선택</span></a></li>
				</ul>
				<ul class="clearboth">
					<li><a href="#" class="btn set25"><span>당일</span></a></li>
					<li><a href="#" class="btn set25"><span>3일</span></a></li>
					<li><a href="#" class="btn set25"><span>1주</span></a></li>
					<li><a href="#" class="btn set25"><span>1개월</span></a></li>
					<li><a href="#" class="btn set25"><span>3개월</span></a></li>
					<li><a href="#" class="btn set25"><span>6개월</span></a></li>
				</ul>
				<ul class="date clearboth">
					<li>
						<input type="text" name="cal_Date" readonly>
						<img src="../common/images/bu/ico_date.gif" onclick="Calendar_D(document.all.cal_Date)" />
						 ~
						<input type="text" name="cal_Date2" readonly>
						<img src="../common/images/bu/ico_date.gif" onclick="Calendar_D(document.all.cal_Date2)" />
					</li>
				</ul>
			</div>
			<div class="ssbox float_l group">
				<h3 class="log_h3"><img src="../common/images/txt/h3_os.gif" alt="OS"><span><!-- 권한 : 제어 및 모니터링 --></span></h3>
				<ul>
					<li class="type1"><input type="checkbox"> <label for="#">전체</label></li>
					<li class="type2"><input type="checkbox"> <label for="#">WinM98</label></li>
					<li class="type3"><input type="checkbox"> <label for="#">WinNT</label></li>
					<li class="type4"><input type="checkbox"> <label for="#">WinMe</label></li>
					<li class="type5"><input type="checkbox"> <label for="#">Win2000</label></li>
					<li class="type6"><input type="checkbox"> <label for="#">WinXP</label></li>
					<li class="type7"><input type="checkbox"> <label for="#">Win7</label></li>
				</ul>
			</div>
			<div class="ssbox float_l os mt10">
				<h3 class="log_h3"><img src="../common/images/txt/h3_manage.gif" alt="관리그룹"><span><!-- 권한 : 제어 및 모니터링 --></span></h3>
				<ul>
					<li class="type1"><input type="checkbox"> <label for="#">전체</label></li>
					<li class="type2"><input type="checkbox"> <label for="#">Green</label></li>
					<li class="type3"><input type="checkbox"> <label for="#">Blue</label></li>
					<li class="type4"><input type="checkbox"> <label for="#">Orange</label></li>
					<li class="type5"><input type="checkbox"> <label for="#">Yellow</label></li>
					<li class="type6"><input type="checkbox"> <label for="#">Red</label></li>
				</ul>
			</div>
		</div>

		<p class="clearboth mt10 tc">
			<a href="srch.html" class="btn type2 setp30"><span>조회</span></a>
		</p>

		<h4 class="mt20 mb10">조회결과</h4>
		<div class="stats_result">
			<h5 class="tc">자동화기기 운영현황(통계)</h5>
			<p class="tc">기준일자 : 2021년 9월 1일~2012년 9월 15일</p>
			<p class="tr">작성일자 : 2012년 10월 25일</p>
			<div class="float_l" style="width:49%">
				<p>관리그룹별</p>
				<table class="mt10  title_table" >
					<colgroup>
							<col style="width:25%"/>
							<col style="width:25%"/>
							<col style="width:25%"/>
							<col style="width:25%"/>
					</colgroup>
					<tbody>
						<tr>
							<td class="tit">관리그룹</td>
							<td class="tit">신규기기수</td>
							<td class="tit">제외기기수</td>
							<td class="tit">운영기기수</td>
						</tr>
					</tbody>
				</table>
				<div class="table_body mt0 mb10">
					<table style="text-align: center;">
						<colgroup>
							<col style="width:25%"/>
							<col style="width:25%"/>
							<col style="width:25%"/>
							<col style="width:25%"/>
					</colgroup>
						<tbody>
							<tr>
								<td class="tc">3층기계실</td>
								<td>5</td>
								<td>1</td>
								<td>10</td>
							</tr><tr>
								<td class="tc">가류공정</td>
								<td>5</td>
								<td>1</td>
								<td>10</td>
							</tr>
							<tr>
								<td class="tc">검사공정</td>
								<td>5</td>
								<td>1</td>
								<td>10</td>
							</tr>
							<tr>
								<td class="tc">기타공정</td>
								<td>5</td>
								<td>1</td>
								<td>10</td>
							</tr>
							<tr>
								<td class="tc">반제품공정</td>
								<td>5</td>
								<td>1</td>
								<td>10</td>
							</tr>
							<tr>
								<td class="tc">성형</td>
								<td>5</td>
								<td>1</td>
								<td>10</td>
							</tr>
							<tr>
								<td class="tc">자동창고</td>
								<td>5</td>
								<td>1</td>
								<td>10</td>
							</tr>
							<tr>
								<td class="tc">장련</td>
								<td>5</td>
								<td>1</td>
								<td>10</td>
							</tr>
							<tr>
								<td class="tc">중간검사실</td>
								<td>5</td>
								<td>1</td>
								<td>10</td>
							</tr>
							<tr>
								<td class="tc"><strong>총계</strong></td>
								<td>5</td>
								<td>1</td>
								<td>10</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="float_r" style="width:49%">
				<p>OS별</p>
				<table class="mt10  title_table">
					<colgroup>
							<col style="width:25%"/>
							<col style="width:25%"/>
							<col style="width:25%"/>
							<col style="width:25%"/>
					</colgroup>
					<tbody>
						<tr>
							<td class="tit">OS</td>
							<td class="tit">신규기기수</td>
							<td class="tit">제외기기수</td>
							<td class="tit">운영기기수</td>
						</tr>
					</tbody>
				</table>
				<div class="table_body mt0 mb10">
					<table style="text-align: center;">
						<colgroup>
							<col style="width:25%"/>
							<col style="width:25%"/>
							<col style="width:25%"/>
							<col style="width:25%"/>
					</colgroup>
						<tbody>
							<tr>
								<td class="tc">Win98</td>
								<td>0</td>
								<td>5</td>
								<td>5</td>
							</tr>
							<tr>
								<td class="tc">WinNT</td>
								<td>0</td>
								<td>5</td>
								<td>5</td>
							</tr>
							<tr>
								<td class="tc">WinME</td>
								<td>0</td>
								<td>5</td>
								<td>5</td>
							</tr>
							<tr>
								<td class="tc">Win2K</td>
								<td>0</td>
								<td>5</td>
								<td>5</td>
							</tr>
							<tr>
								<td class="tc">WinXP</td>
								<td>0</td>
								<td>5</td>
								<td>5</td>
							</tr>
							<tr>
								<td class="tc">Win7</td>
								<td>0</td>
								<td>5</td>
								<td>5</td>
							</tr>
							<tr>
								<td class="tc"><strong>총계</strong></td>
								<td>5</td>
								<td>1</td>
								<td>10</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="tc clearboth  pt20">
				<a href="#" class="btn set25"><span>인쇄</span></a>
			</div>
		</div>
	</section>
</article>